.smed i {
    color: #136ed6;
    font-size: 30px;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.smed i:hover {
    color: #e42448;
}

.mynav a:hover {
     color: #e42448 !imortant;
}